{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "off",
    "default-param-last": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "lines-between-class-members": "off",
    "eqeqeq": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "guard-for-in": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
